#header {
    background-color: rgb(245, 240, 180);
    width: 100vw;
    height: 10rem;
    display: flex;
    align-items: center;
}

.header__icon {
    font-size: 3rem;
    color: green;
    margin-left: 40px;
    justify-content: center;
}

.header__title {
    font-size: 3rem;
    margin: 0 1rem;
}

.header__count {
    text-align: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    background-color: darkseagreen;
    color: white;
    border-radius: 50%;
  }